@import './var.scss';

.room {
  height: 90%;
  width: 80%;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  overflow: hidden;
  background-image: url('../image/grid2.png');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  flex-wrap: wrap;
}

.target {
  position: relative;
  height: fit-content;
} 