@import './var.scss';

.shop {
  width: 100%;
  height: 92vh;
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: $grey1;
  
  .name {
    line-height: 100%;
    margin-bottom: 10px;
    color: $orange4;
  }

  &_info {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    &-details {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      padding: 0 10%;

      .avatar {
        width: 128px;
        height: 128px;
        background-color: $orange3;
        border-radius: 50%;
        margin-bottom: 2em;
        position: relative;
        overflow: hidden;
      }

      p {
        width: fit-content;
        color: $orange3;
        padding: 5px;
        background-color: #fce3d2;
        border-radius: 5px;
        font-weight: 500;
      }
    }

    &-adress {
      padding: 0 10%;
    }

    &-contact {
      margin: 2em 0;
      display: flex;
      padding: 0 10%;
      flex-direction: column;
      width: 100%;      

      a {
        font-size: 18px;
      }
    }
  }

  &_products {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    gap: 10px;

    .product {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 20px 5em;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      gap: 5em;

      .tag {
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        position: absolute;
      }

      &_image {
        width: 15em;
        height: 15em;
        position: relative;
      }

      &_info {
        ul {
          margin: 1em 0;
          padding-left: 18px;
        }
        
        .price {
          font-size: 3em;
        }
      }
    }
  }
}