@import './var.scss';

.container {
  background-color: $grey1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .login {
    background-color: white;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &_header {
      width: 100%;
      text-align: center;
    }

    &_input {
      width: 100%;
      padding: 0 2em;

      input {
        margin: 10px 0;
        width: 100%;
        height: 3em;
        display: block;
        border-radius: 5px;
        padding: 10px;
        background-color: $orange1;
      }
    }

    &_btn {
      width: 100%;
      padding: 0 2em;
      text-align: center;

      button {
        margin-bottom: 10px;
        width: 100%;
        display: block;
      }
    }
  }

  .signin {
    background-color: white;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &_header {
      width: 100%;
      text-align: center;

      h2 {
        color: $orange4;
      }
    }

    &_input {
      width: 100%;
      padding: 0 2em;

      input {
        margin: 10px 0;
        width: 100%;
        height: 3em;
        display: block;
        border-radius: 5px;
        padding: 10px;
        background-color: $orange1;
      }

      &-type {
        width: 100%;
        height: 3em;
        padding: 10px;
        border-radius: 5px;
        background-color: $orange1;
        color: $orange3;
      }
    }

    &_btn {
      width: 100%;
      padding: 0 2em;
      text-align: center;

      button {
        margin-bottom: 10px;
        width: 100%;
        display: block;
      }
    }
  }
}